
/*================== RESET ====================*/


body {
	font-family: "Open Sans Light", Arial, SansSerif;
	font-style: normal;
	background-color: #333;
}

div, ul, li, p, h1, h2, h3{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	/*border: 1px solid #bbb;*/
}


/*==================================== carousel */

body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}


.carousel-hider {
    width: 600px;
    overflow: hidden;
    float: left;
}

.carousel-list {    
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}


.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}
 
.carousel-element img {
    max-width: 100px;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
}
 
.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}
 
.carousel-arrow-left {
    margin-right: 25px;
}
 
.carousel-arrow-right {
    margin-left: 25px;
}

.clearfix:after{ content: ''; clear: both; display: block; }


/* ============================ template ============= */

#list{
    margin-top: 50px;
    width: 70%;
}

#list>h1{
    text-align: center;
    font-variant: small-caps;
    font-size: 250%;
    border-bottom: 3pt solid #cba;

}

#results{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

#results>div{
    margin: 10pt 5pt 10pt 5pt;
    width: 290px;
}

.chapter{
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 70%;
}

.title{
    margin: 5pt 0pt 5pt 0pt;
    /*height: 100px;*/
    font-variant: small-caps;
    font-size: 180%;
    line-height: 1.0;
}

.resrs{
    font-weight: bold;
    font-size: 80%;
}

.author{
    font-weight: bold;
    font-style: italic;
    font-size: 80%;
}

